body{
    color: white;
    background: #282828;
    font-family: Arial;    
}

h1{
    font-size: 75px;
    border-top: 20px solid white;
    border-bottom: 20px solid white;
    color: #FF0000;
    font-style: italic;
}

h2{
    color: #FF0000;
    
}

.headings{
    font-size: 40px;
    padding-top: 60px;
    border: 7px solid #FF0000;
    margin-right: 6cm ;
    margin-left: 6cm;
    text-align: center;
    padding-bottom: 10px;
}

.pictures{
    display: block;
    margin-right: auto;
    margin-left: auto;

}

.paragraphs{
color: white;
margin-right: 10cm ;
margin-left: 10cm;
text-align: center;
padding-bottom: 30px;

}