body{
    color: white;
    background: #282828;
    font-family: Arial;    
}

h1{
    color: #FF0000;
}

h2{
    color: #FF0000;
}

.headings{}

.pictures{
    display: block;
    margin-right: auto;
    margin-left: auto;

}

.paragraphs{
color: white;
margin-right: 3.17cm ;
margin-left: 3.17cm;
text-align: center;

}