body{
    color: white;
    background: #282828;
    font-family: Arial;    
}

h1{
    font-size: 3em;
    color: #FF0000;
    font-style: italic;
    padding-bottom: 10px;
}

h2{
    color: #FF0000;
    
}

.headings{
    border-bottom: 7px;
    border-color: #FF0000;
    margin-right: 6cm ;
    margin-left: 6cm;
    text-align: center;
    padding-bottom: 5px;
}

.pictures{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;

}

.paragraphs{
color: white;
margin-right: 10cm ;
margin-left: 10cm;
text-align: center;
padding-bottom: 15px;

}